In [ ]:
!pip install scrapy

In [3]:
import time
import requests
import numpy as np
import pandas as pd
from scrapy.http import TextResponse
import re

In [12]:
def movie_scraper(url,base_url="https://www.imdb.com/chart/moviemeter/"):
    page = requests.get(url)
    response = TextResponse(body=page.text,url=url,encoding="utf-8")
    title = response.css("td.titleColumn >a ::text").extract()
    release_year = response.css("td >span.secondaryInfo::text").extract()
    year = [i.replace("(" , "").replace(")" , "") for i in release_year]
    ratings_table = response.css("td.ratingColumn.imdbRating")
    rating = [i.css('strong::text').extract_first() for i in ratings_table]
    movurl = response.css("td.titleColumn ::attr(href)").extract()
    hyperlink = 'https://www.imdb.com/'
    movie_hyperlink = [hyperlink+i for i in movurl]
    rank_div = response.css("div.velocity")
    rank_ext = [i.css("::text").extract_first() for i in rank_div]
    ranks = [i.replace('\n',"").replace("(no change)","") for i in rank_ext]  
    return pd.DataFrame({"Title":title,  "Year":year, "Ratings":rating, "Movie_Hyperlink": movie_hyperlink , 'Rank':ranks,})

In [13]:
sm =movie_scraper(url = "https://www.imdb.com/chart/moviemeter/")
sm

                        Title  ... Rank
0                    365 Days  ...    1
1                 Da 5 Bloods  ...    2
2                Artemis Fowl  ...    3
3   The King of Staten Island  ...    4
4                  Knives Out  ...    5
..                        ...  ...  ...
95            The Rising Hawk  ...   96
96                  Bloodshot  ...   97
97                   The Room  ...   98
98                      Emma.  ...   99
99                     Onward  ...  100

[100 rows x 5 columns]