In [154]:
import time
import requests
import numpy as np
import pandas as pd
from scrapy.http import TextResponse
import re

Problem 1

In [155]:
def books_scraper(url,base_url="http://books.toscrape.com/"):
    page = requests.get(url)
    response = TextResponse(body=page.text,url=url,encoding="utf-8") 
    prices = response.css("p.price_color::text").extract()
    price = [float(i.replace("Â£", "")) for i in prices]
    book_url = response.css("h3 >a::attr(href)").extract()
    pic_url = response.css("img::attr(src)").extract()
    star = response.css("p[class^='star-rating']::attr(class)").extract()
    star_rating = []
    for i in star:
        star_rating.append(i.replace("star-rating", ""))   
    base_url = "http://books.toscrape.com/catalogue/"
    bookurl = [base_url + i for i in book_url]
    picurl = [base_url + i for i in pic_url]
    genere = []
    desc = []
    for i in bookurl:
        page = requests.get(i)
        response = TextResponse(body=page.text,url=i,encoding="utf-8")
        genere.append(response.css("li~li~li > a::text")[0].extract())
        desc.append(response.css("article[class='product_page'] > p::text").extract_first())
    
    return pd.DataFrame({  "Price":price, "BooksHyperlinks":bookurl, "PicsHyperlinks":picurl,"Star_Ratings":star_rating,'Generes':genere,"AboutBook":desc})

In [156]:
books = []
for i in range(1,100):
    cureent_page =books_scraper(url = f"http://books.toscrape.com/catalogue/page-{i}.html")
    if cureent_page.shape[0] == 0:
        break
    else:
        books.append(cureent_page)

In [157]:
books = pd.concat(books)
books

    Price  ...                                          AboutBook
0   51.77  ...  It's hard to imagine a world without A Light i...
1   53.74  ...  "Erotic and absorbing...Written with starling ...
2   50.10  ...  Dans une France assez proche de la nÃ´tre, un ...
3   47.82  ...  WICKED above her hipbone, GIRL across her hear...
4   54.23  ...  From a renowned historian comes a groundbreaki...
..    ...  ...                                                ...
15  55.53  ...                                               None
16  57.06  ...  High school student Kei Nagai is struck dead i...
17  16.97  ...  In Englandâs Regency era, manners and elegan...
18  53.98  ...  James Patterson, bestselling author of the Ale...
19  26.08  ...  Around the World, continent by continent, here...

[1000 rows x 6 columns]

In [158]:
books.to_csv('books.csv', index=False)

In [159]:
books.to_csv('books.csv', index=False)

In [160]:
books["Price"].max()

59.99

In [161]:
books[books['Price'] == books['Price'].max()]['Generes']

8    Romance
Name: Generes, dtype: object

In [162]:
books['Star_Ratings'].value_counts()

 One      226
 Three    203
 Five     196
 Two      196
 Four     179
Name: Star_Ratings, dtype: int64

In [163]:
rating_map = {
    'Two': 2,
    'One': 1,
    'Five': 5,
    'Four': 4,
    'Three': 3
}

In [164]:
books['Star_Ratings'] = books['Star_Ratings'].apply(lambda x: x.strip())

In [165]:
books['Star_Ratings'] =books['Star_Ratings'].replace(rating_map)

In [166]:
books.corr()

                 Price  Star_Ratings
Price         1.000000      0.028166
Star_Ratings  0.028166      1.000000

In [167]:
books.groupby('Star_Ratings').mean()['Price']

Star_Ratings
1    34.561195
2    34.810918
3    34.692020
4    36.093296
5    35.374490
Name: Price, dtype: float64

Problem 2

In [168]:
def jobs_scraper(url):
    page = requests.get(url)
    response = TextResponse(body=page.text,url=url,encoding="utf-8")
    companies_name = response.xpath("//p[@class='job_list_company_title']/text()").extract()
    vac_name = response.xpath("//p[@class='font_bold']/text()").extract()
    base_url = "https://staff.am"
    urls = response.xpath("//div[@class='web_item_card hs_job_list_item']/a/@href").extract()
    vacs_url = [base_url + i for i in urls]
    deadline1 = response.css("div[class = 'job-inner job-list-deadline'] >p:not([class='job_location'])")
    deadline2 =[i.css('::text').extract()[1] for i in deadline1]
    deadline = [i.replace('\n'," ") for i in deadline2]
    location1 = response.css("div[class = 'job-inner job-list-deadline'] >p[class='job_location']")
    location2 = [i.css("::text").extract()[1] for i in location1]
    location = [i.replace('\n',"").strip() for i in location2]
    return pd.DataFrame({"Companies":companies_name,"Vacancies":vac_name,'Links':vacs_url,"Deadline":deadline,'Location':location})

In [169]:
jobs = []
for i in range(1,100):
    cureent_page =jobs_scraper(url = f"https://staff.am/en/jobs?page={i}&per-page=50")
    if cureent_page.shape[0] == 0:
        break
    else:
        jobs.append(cureent_page)

In [170]:
jobs= pd.concat(jobs)
jobs

                    Companies  ... Location
0           Workfront Armenia  ...  Yerevan
1              Fast Shift LLC  ...  Yerevan
2              Veolia Armenia  ...  Yerevan
3   Webb Fontaine Holding LLC  ...  Yerevan
4                   Digitain   ...  Yerevan
..                        ...  ...      ...
3                ServiceTitan  ...  Yerevan
4                ServiceTitan  ...  Yerevan
5                ServiceTitan  ...  Yerevan
6                ServiceTitan  ...  Yerevan
7                ServiceTitan  ...  Yerevan

[558 rows x 5 columns]

In [171]:
jobs['Companies'].value_counts()

Digitain              33
SoftConstruct         23
PicsArt               22
ServiceTitan          15
TeamViewer Armenia    12
                      ..
Medline Clinic LLC     1
BeSofted Group         1
«Teghout» CJSC         1
Մեգա Ֆուդ ՍՊԸ          1
TT soft                1
Name: Companies, Length: 230, dtype: int64

In [172]:
jobs[jobs['Vacancies'].str.contains("Data")]

                         Companies  ... Location
26                         PicsArt  ...  Yerevan
27                         PicsArt  ...  Yerevan
22                          buymie  ...  Yerevan
46       Webb Fontaine Holding LLC  ...  Yerevan
31  ACBA-CREDIT AGRICOLE BANK CJSC  ...  Yerevan
4                        Ucom CJSC  ...  Yerevan
28                           Krisp  ...  Yerevan
41              BIVAC Armenia CJSC  ...  Yerevan
2                            DISQO  ...  Yerevan

[9 rows x 5 columns]

In [173]:
jobs[jobs['Vacancies'].str.contains("Data")]['Vacancies'].count()

9

In [174]:
jobs.to_csv('jobs.csv', index=False)